
.UpdateProduct > form {
    width: 250px;
   
	
}

.UpdateProduct input{
    width:100%;
    box-sizing: border-box;
    margin:0px 0px 10px 0px;
}

.UpdateProduct button{
    width:100%;
    margin:10px 0px 10px 0px;

}
.UpdateProduct span{
    color:red;
    position: absolute;
    margin:0px 20px;
}
    
