html, body, #root{
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
  background-image:linear-gradient(rgb(104, 166, 218),rgb(151, 188, 197)) ;

}

a{
  color: blue;
}

.Box{
  display: inline-block;
  margin: 10px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow:  5px 5px 10px;
  text-align: left;
}
